﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img style="max-width:30px;max-height:30px;padding-left:6px;padding-right:3px;" src="./favicon.ico" /><span style="padding-left: 10px; padding-right: 10px;">SiLA2 Server</span></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="serverfeatures">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Features
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
