﻿
@using SiLA2.Network
@using SiLA2.Server
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@inject IGrpcServerChannelProvider GrpcServerChannelProvider
@inject IServerDataProvider ServerDataProvider

@if (ServerData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h1 style="color:navy">@ServerData.Config.Name</h1>
        <table class="table table-striped table-hover" style="padding-top:30px">
            <thead class="thead-light">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Server ID</td>
                    <td>@ServerData.Config.Uuid</td>
                </tr>
                <tr>
                    <td>Channel</td>
                    <td>@ServerData.Channel.Target</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@ServerData.Info.Description</td>
                </tr>
                <tr>
                    <td>Server Type</td>
                    <td>@ServerData.Info.Type</td>
                </tr>
                <tr>
                    <td>Server Version</td>
                    <td>@ServerData.Info.Version</td>
                </tr>
                <tr>
                    <td>Server Vendor URI</td>
                    <td>@ServerData.Info.VendorURI</td>
                </tr>
            </tbody>
        </table>
    </div>
}


@code{

    private ServerData ServerData;

    protected override async Task OnInitializedAsync()
    {
        ServerData = await ServerDataProvider.GetServerData();
    }
}
