﻿@using SiLA2.Network
@using SiLA2.Server
@using Microsoft.Extensions.Configuration
@using SiLA2.Frontend.Razor.Services
@using SiLA2.Frontend.Razor.ViewModels
@using System.Diagnostics

@inject IConfiguration Configuration
@inject IGrpcServerChannelProvider GrpcServerChannelProvider
@inject IGrpcClientProvider GrpcClientProvider
@inject IServerDataProvider ServerDataProvider
@inject IFeatureMapper FeatureMapper

<div>
    <h1 style="color:navy">Sila Server Features</h1>

    <div>
        @if (FeatureItemViewModels == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var feature in FeatureItemViewModels)
            {
                <div style="padding-top:30px">
                    <h2 style="color:navy">@feature.DisplayName</h2>
                    <h5>@feature.FullyQualifiedIdentifier</h5>
                    <h4 style="padding-top:15px; color:navy">Description</h4>
                    <div>@feature.Description</div>
                    <div style="padding-top:15px">
                        <table class="table table-striped table-hover">
                            <tbody>
                                @if (feature.FeatureProperties.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <h5>
                                                Feature Properties
                                            </h5>
                                        </td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in feature.FeatureProperties)
                                    {
                                        <tr>
                                            <td>@item.DisplayName</td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                                @if (feature.FeatureMetadata.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <h5>
                                                Feature Metadata
                                            </h5>
                                        </td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in feature.FeatureMetadata)
                                    {
                                        <tr>
                                            <td>@item.DisplayName</td>
                                            <td></td>
                                        </tr>
                                    }
                                }

                                @if (feature.SilaElements.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <h5>
                                                Sila Elements
                                            </h5>
                                        </td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in feature.SilaElements)
                                    {
                                        <tr>
                                            <td style="color:lightseagreen">@item.Identifier : <span style="color:black">@item.Description</span></td>
                                            <td></td>
                                        </tr>
                                    }
                                }

                                @if (feature.FeatureDefinedExecutionErrors.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <h5>
                                                Feature Defined ExecutionErrors
                                            </h5>
                                        </td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in feature.FeatureDefinedExecutionErrors)
                                    {
                                        <tr>
                                            <td>@item.DisplayName</td>
                                            <td></td>
                                        </tr>
                                    }
                                }

                                @if (feature.FeatureCommands.Count > 0)
                                {
                                    <tr>
                                        <td>
                                            <h5>
                                                Feature Commands
                                            </h5>
                                        </td>
                                        <td></td>
                                    </tr>
                                    @foreach (var item in feature.FeatureCommands)
                                    {
                                        <tr>
                                            <td>@item.DisplayName</td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                                @if (GrpcClientProvider.ClientMap.ContainsKey(feature.TypeIdentifier))
                                {
                                    <tr>
                                        <td colspan="2">
                                            <h5>
                                                Feature Command Execution
                                            </h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="accordion" id="accordionFeatureCommands">
                                                @foreach (var item in feature.Methods)
                                                {
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id=@item.MethodInfo.Name.GetHashCode()>
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@item.MethodInfo.Name" aria-expanded="true" aria-controls="@item.MethodInfo.Name">
                                                                @item.MethodInfo.Name
                                                            </button>
                                                        </h2>
                                                        <div id="@item.MethodInfo.Name" class="accordion-collapse collapse" aria-labelledby=@item.MethodInfo.Name.GetHashCode()>
                                                            <div class="accordion-body">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col-2">
                                                                            <button class="btn btn-primary mb-3" @onclick="() => GrpcClientProvider.InvokeMethod(feature.TypeIdentifier, item)">Execute</button>
                                                                        </div>
                                                                    </div>
                                                                    @foreach (var parameter in @item.Parameters)
                                                                    {
                                                                        foreach (var propInfoViewModel in @parameter.Item2)
                                                                        {
                                                                            <div class="row" style="color:mediumvioletred">
                                                                                <div class="row">
                                                                                    <div class="col-6">
                                                                                        @propInfoViewModel
                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <input @bind="propInfoViewModel.PropertyValue" style="min-width:350px; margin-bottom:5px" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    @if (@item.Result != null)
                                                                    {
                                                                        <div class="row" style="color:navy">
                                                                            @item.Result
                                                                        </div>
                                                                    }
                                                                 </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>


@code {
    
    private List<FeatureItemViewModel> FeatureItemViewModels;

    protected override async Task OnInitializedAsync()
    {
        FeatureItemViewModels = await FeatureMapper.GetViewModels();
    }
}
