﻿<div class="top-row pl-4 navbar navbar-dark" style="background-color:white">
    <a class="navbar-brand" href="https://sila-standard.com/" target="_blank" style="margin-left:15px"><img style="max-width:40px;max-height:40px;" src="./silacsharp.png" /><span style="padding-left: 10px; padding-right: 10px; color: navy; font-weight:bold">Server Web-Frontend</span></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="serverfeatures">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Features
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="usermanagement">
                <span class="oi oi-person" aria-hidden="true"></span>User Management
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperature">
                <span class="oi oi-graph" aria-hidden="true"></span>Temperature
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
