﻿@page "/temperature"

@using System.Diagnostics
@using static Sila2.Org.Silastandard.Examples.Temperaturecontroller.V1.TemperatureController
@using SiLA2.Network
@using SiLA2.Server.Utils
@using Sila2.Org.Silastandard.Examples.Temperaturecontroller.V1
@using Sila2.Org.Silastandard
@using Grpc.Core;
@using System.Threading
@using SiLA2.Utils.Extensions
@using TemperatureController.Features.Database
@using TemperatureController.Features.Services

@inject IJSRuntime jsRuntime
@inject IGrpcServerChannelProvider GrpcServerChannelProvider
@inject ITemperatureProfileService TemperatureProfileService

<style>
    body {
        background: #0b2464;
    }
</style>
<h1 style="color:white; margin-top:10px">Realtime Temperature Monitoring</h1>
<div style="border-style: solid;
        border-color: lightgoldenrodyellow;
        padding: 5px;
        margin-top: 0px;
        background-color: #3a0647;
        border-radius: 15px">
    <input style="margin:10px;max-width:60px;display: inline-block; text-align:right" @bind="_targetTemperature" />
    <button class="btn btn-outline-primary" style="background-color: navy; color: #ffffcc; min-width:200px " @onclick="ChangeProgressTemperature">Change Temperature</button>
    <button class="btn btn-outline-primary" style="background-color: navy; color: #ffffcc; min-width:200px " @onclick="RunTemperatureProfile">Run Profile</button>
    <button class="btn btn-outline-primary" style="background-color: navy; color: #ffffcc; min-width:200px " @onclick="StopRunningTemperatureProfile">Stop Profile</button>
    <button class="btn btn-outline-primary" style="background-color: navy; color: #ffffcc; min-width:200px " @onclick="ClearProgressTemperature">Clear Chart</button>
    <input style="margin:10px;max-width:60px;display: inline-block; text-align:right" @bind="_numberOfDisplayedTemperatureValues" />
    <label style="max-width:120px;color: #ffffcc">values displayed</label>
    <div class="progress" style="margin:10px;min-height:30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=@_percentage aria-valuemin="0" aria-valuemax="100" style="width: @_percentage%">@_percentage %</div>
    </div>
    <div style="padding:10px;" id="progress-chart"></div>
</div>

@code {

    private TemperatureControllerClient _temperatureControllerClient;
    private CancellationTokenSource _temperatureControlCancellationTokenSource; 
    private double _targetTemperature = 85.5;
    private int _numberOfDisplayedTemperatureValues = 1000;
    private List<Tuple<double, DateTime>> _temperatureData = new List<Tuple<double, DateTime>>();
    private int _percentage = 0;


    protected override async Task OnInitializedAsync()
    {
        var channel = await GrpcServerChannelProvider.GetLocalServerChannel();
        _temperatureControllerClient = new TemperatureControllerClient(channel);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("generateChart", new object[] { });
            this.StateHasChanged();

        }
    }

    private async Task ChangeProgressTemperature()
    {
        _temperatureControlCancellationTokenSource = new CancellationTokenSource();
        await ControlTemperature(_targetTemperature, _temperatureControlCancellationTokenSource.Token);
    }

    private async Task ClearProgressTemperature()
    {
        _temperatureData.Clear();
        await jsRuntime.InvokeVoidAsync("refreshChart", new double[] { });
        this.StateHasChanged();
    }

    private async Task RunTemperatureProfile()
    {
        var temperatureProfile = TemperatureProfileService.GetTemperatureProfiles().First();
        _temperatureControlCancellationTokenSource = new CancellationTokenSource();
        for(int i = 0; i < temperatureProfile.Loops; i++)
        {
            foreach (var temperatureStep in temperatureProfile.Temperatures)
            {
                await ControlTemperature(temperatureStep.TemperatureInCelsius, _temperatureControlCancellationTokenSource.Token);
            }

            if(_temperatureControlCancellationTokenSource.IsCancellationRequested)
            {
                break;
            }
        }
    }

    private async Task ControlTemperature(double temperature, CancellationToken ct)
    {
        try
        {
            _percentage = 0;

            var temperatureStream = _temperatureControllerClient.Subscribe_CurrentTemperature(new Subscribe_CurrentTemperature_Parameters(), null, null, ct).ResponseStream;

            var commandConfirmation = _temperatureControllerClient.ControlTemperature(new ControlTemperature_Parameters { TargetTemperature = new Real { Value = temperature.DegreeCelsius2Kelvin() } }, null, null, ct);

            using (var call = _temperatureControllerClient.ControlTemperature_Info(commandConfirmation.CommandExecutionUUID, null, null, ct))
            {
                var responseStream = call.ResponseStream;
                while (await responseStream.MoveNext())
                {
                    var currentExecutionInfo = responseStream.Current;
                    if (double.IsNaN(currentExecutionInfo.ProgressInfo.Value))
                    {
                        Debug.Print("currentExecutionInfo.ProgressInfo.Value is not a number !");
                        continue;
                    }

                    _percentage = (int)(Math.Round(currentExecutionInfo.ProgressInfo.Value * 100, 0));

                    if (await temperatureStream.MoveNext())
                    {
                        _temperatureData.Add(new Tuple<double, DateTime>(temperatureStream.Current.CurrentTemperature.Value.Kelvin2DegreeCelsius(), DateTime.Now));
                        var values = _temperatureData.Select(x => Math.Round(x.Item1, 2)).TakeLast(_numberOfDisplayedTemperatureValues);
                        await jsRuntime.InvokeVoidAsync("refreshChart", values);
                        this.StateHasChanged();
                    }

                    if (currentExecutionInfo.CommandStatus == ExecutionInfo.Types.CommandStatus.FinishedSuccessfully || currentExecutionInfo.CommandStatus == ExecutionInfo.Types.CommandStatus.FinishedWithError)
                    {
                        break;
                    }
                }
            }

            ControlTemperature_Responses response = _temperatureControllerClient.ControlTemperature_Result(commandConfirmation.CommandExecutionUUID);
        }
        catch (RpcException e)
        {
            Debug.Print(ErrorHandling.HandleException(e));
        }
    }

    private void StopRunningTemperatureProfile()
    {
        if(_temperatureControlCancellationTokenSource != null)
        {
            _temperatureControlCancellationTokenSource.Cancel();
            _percentage = 0;
        }
    }
}
